.elementor-670 .elementor-element.elementor-element-d9754ac{color:#000000;}.elementor-670 .elementor-element.elementor-element-191ac19{color:#000000;}.elementor-670 .elementor-element.elementor-element-b78cd17{color:#000000;}